<ion-content>
  <div class="container">
    <div class="form-container">
      <h2>Recuperar contraseña</h2>
      <form>
        <ion-item>
          <ion-label position="floating">Correo electrónico</ion-label>
          <ion-input type="email" required></ion-input>
        </ion-item>

        <ion-button expand="full" color="primary">Enviar enlace de recuperación</ion-button>
        <ion-button expand="full" color="primary" (click)="GoToLogin()">Volver</ion-button>
      </form>
    </div>
  </div>
</ion-content>
