<ion-header>
  <ion-toolbar>
    <ion-title>Despacho de Abogados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="banner">
    <h1>Tu Socio Legal de Confianza</h1>
    <p>Solucionamos tus problemas legales con experiencia y compromiso.</p>
    <ion-button expand="full" color="primary" (click)="GoToAbogados()">Agenda tu cita</ion-button>
  </div>

  <div class="objectives">
    <h2>Nuestros Objetivos</h2>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Accesibilidad</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Queremos que acceder a servicios legales sea fácil y conveniente para todos. Nuestro sistema de agenda en línea te permite programar una cita en cualquier momento y desde cualquier lugar.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Profesionalismo</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Nuestros abogados altamente calificados te brindarán asesoramiento legal experto y representación de calidad. Nos comprometemos a brindar un servicio profesional y confiable en todo momento.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Resultados</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Nuestro objetivo principal es lograr los mejores resultados para nuestros clientes. Trabajaremos incansablemente para resolver tus problemas legales y alcanzar los mejores resultados posibles.
      </ion-card-content>
    </ion-card>
  </div>

  <div class="about">
    <h2>Acerca de Nosotros</h2>
    <p>Somos un equipo de abogados dedicados y experimentados que se compromete a brindar soluciones legales efectivas y personalizadas a nuestros clientes. Con años de experiencia en diversas áreas del derecho, estamos preparados para abordar cualquier desafío legal que nuestros clientes enfrenten. Nuestro enfoque centrado en el cliente y nuestro compromiso con la excelencia nos distinguen de otros despachos de abogados.</p>
  </div>

  <div class="contact">
    <h2>Contacto</h2>
    <p>¡Estamos listos para ayudarte! Ponte en contacto con nosotros para programar una consulta o para cualquier pregunta o inquietud que puedas tener.</p>
    <ion-button expand="full" color="primary" (click)="GoToContacto()">Contactar</ion-button>
  </div>
</ion-content>
