<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>AbogApp</ion-title>
    <ion-buttons slot="end"> <!-- Añade botones en el lado derecho -->
      <ion-button (click)="openPage('admin')">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
      <ion-buttons slot="end"> <!-- Añade botones en el lado derecho -->
        <ion-button (click)="closeMenu()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="openPage('admincitas')">Citas agendadas</ion-item>
      <ion-item color="danger" (click)="logout()">Cerrar Sesión</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content id="main-content" class="content">
  <div class="objectives-container">
    <div class="objectives">
      <h2>Nuestros Objetivos</h2>
      <ion-card>
        <ion-card-header>
          <ion-card-title class="card-title">Compromiso</ion-card-title>
        </ion-card-header>
        <ion-card-content class="card-content">
          Nos comprometemos a que tengas un servicio decente, eficaz y una sencilla accesibilidad a nuestros diferentes abogados.
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title class="card-title">Rapidez</ion-card-title>
        </ion-card-header>
        <ion-card-content class="card-content">
          Solicitar una cita con un abogado jamás había sido tan sencillo como lo es ahora gracias a AbogApp.
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <div class="about">
    <h2>Acerca de Nosotros</h2>
    <p>Somos un pequeño grupo de estudiantes que se preocupa por los problemas legales de las personas, es por eso mismo que estamos desarrollando esta aplicación para brindarles mayor comodidad a todas esas personas con problemas legales.</p>
  </div>
  <div class="images">
    <img src="assets/images/Aboga.jpg" alt="Abogado 1">
  </div>
</ion-content>
