<ion-content class="ion-padding">
  <div class="container">
    <h1 class="title">Iniciar sesión</h1>
    <ion-item class="input-item">
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input type="email" [(ngModel)]="usuario.correoElectronico"></ion-input>
    </ion-item>
    <ion-item class="input-item">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="usuario.contrasena"></ion-input>
    </ion-item>
    <ion-button expand="full" color="primary" (click)="iniciarSesion()">Iniciar sesión</ion-button>
    <ion-button expand="full" color="tertiary" (click)="GoToSignup()">Crear una cuenta</ion-button>
    <ion-button expand="full" color="secondary" (click)="GoToHome()">Volver a inicio</ion-button>
  </div>
</ion-content>
